{% extends 'base.html' %}
{% block title %}Customer Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="post" data-ajax="true" id="customer-register-form">
  <p><label>Name <input name="name" required></label></p>
  <p><label>Email <input name="email" type="email" required></label></p>
  <p><label>Phone <input name="phone" required></label></p>
  <p><label>Address <input name="address" required></label></p>
  <p><label>Password <input name="password" type="password" required></label></p>
  <p><button class="btn" type="submit">Register</button></p>
 </form>
{% endblock %}